<html>
    <head>
        <title>
            Add category
        </title>
        <link rel="stylesheet" href="/public/css/addsource.css">
    </head>
    <body>
        <h1>
            ADD CATEGORY
        </h1>
        <div class="box">
        <form class="form" method="POST" action="/expenses" >
            <table>
           <tr>
               <td><label>Catagory Type:</label></td><br/>
               <td><input type="text" id="source" class="input-field" name="Catagory"></td>
           </tr>
        </table>
        <button type="submit" class="btn">Save</button>
        </form>
        </div>
    </body>
</html>